@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --font-sans: "Manrope", sans-serif;
  --color-brand-dark: #101727;
  --color-brand-white: #ffffff;
  --color-brand-primary: #4f39f6;
  --color-brand-secondary: #627983;
  --color-brand-accent: #9514fa;
  --gradient-primary: linear-gradient(to right, #4f39f6, #9514fa);
}
